
* {
	font-family: "Sunflower", sans-serif;
}

body {
	margin: 0 auto;
	width: 90%;
	max-width: 1024px;
	height: 100%;
}
a {
	text-decoration: none;
}
.container {
	/* outline: 1px solid; */
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: grid;
  	grid-template-rows: minmax(100px, auto) auto 200px;
  	gap: 20px 0;
}

.container > div {
	padding: 5px;
	box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: minmax(max-content,1fr) minmax(max-content,1fr) repeat(5,auto);
  /* grid-template-columns: minmax(max-content,1fr) minmax(max-content,1fr) repeat(5,auto); */
  border-bottom: 3px solid gray;
  gap: 0 20px;
}
.header > div {
	font-size: 10px;
	display: grid;
	justify-items: center;
	align-items: center;
	font-size: 16px;
}

.smallLogo{
  border: 1px solid;
}

.smallLogo > img{
  vertical-align: bottom;
  /* margin: 5%; */
  box-sizing: border-box;
  
}

.header > div:nth-child(2){
  font-size: 40px;
  color: aqua;
}

.body {
	display: grid;
	grid-template-rows: 1fr auto auto;
}

.paging{
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: center;
  gap: 0 20px;
}

.paging > a {
  display: grid;
  border-right: 2px dotted red;
  justify-content: center;
  justify-items: center;
  padding-right: 16px;
}


