* {
	font-family: "Sunflower", sans-serif;
}

body {
	margin: 0 auto;
	width: 90%;
	max-width: 1024px;
	height: 100%;
}
a {
	text-decoration: none;
}
.container {
	/* outline: 1px solid; */
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: grid;
  	grid-template-rows: minmax(100px, auto) auto 200px;
  	gap: 20px 0;
}

.container > div {
	padding: 5px;
	box-sizing: border-box;
}


.body {
	/* height: 50vh; */
	display: grid;
	justify-content: center;
  	align-content: center;
	
}

.loginForm-dh{
	margin:0 auto;
	margin-top:100px;
	height:330px;

}
#idchar{
	margin-left:20px;
	width:60px;
	font-size:20px;
	float:left;
}
#idinput{
	float:left;
	margin-left:5px;
}
#id{
	font-size:15px;
	width:200px;
	height:30px;
}
#errdiv{
	clear:both;
	width:200px;
	margin-left:85px;
}

.errmsg{
	font-size:0.7rem;
	font-weight:bold;
	color:red;
}

#pwwrap{
	position:relative;
	top:5px;
	clear:both;
}
#pwchar{
	width:80px;
	font-size:20px;
	float:left;
}
#pwinput{
	float:left;
	margin-left:5px;
}
#pw{
	font-size:15px;
	width:200px;
	height:30px;
}
#btnwrap{
	position:relative;
	top:10px;
	clear:both;

}
#loginBtn{
	color:white;
	background-color:#FE2E2E;
	font-size:20px;
	padding:10px;
	margin-left:85px;
	width:203px;
}
#findwrap{
	clear:both;
	position:relative;
	width:205px;
	margin-left:85px;
	top:15px;
}
#joina{
	color:#5858FA;
	margin-left:3px;
	font-size:12px;
}
#idfinda{
	color:#5858FA;
	margin-left:10px;
	font-size:12px;
}
#pwfinda{
	color:#5858FA;
	margin-left:10px;
	font-size:12px;
}

